name: Update Issue Timestamps

on:
  issues:
    types:
      - closed
      - labeled

env:
  LABEL_NAME: "this sprint"

jobs:
  update-timestamps:
    runs-on: ubuntu-latest
    steps:
      - name: Set end timestamp when issue is closed
        if: github.event.action == 'closed'
        run: |
          TIMESTAMP=$(date -u +"%Y-%m-%dT%H:%M:%SZ")
          ISSUE_BODY="${{ github.event.issue.body }}"
          NEW_BODY="${ISSUE_BODY}\n\n**End Timestamp:** $TIMESTAMP"
          curl -X PATCH -H "Authorization: token ${{ secrets.GITHUB_TOKEN }}" \
               -H "Accept: application/vnd.github.v3+json" \
               https://api.github.com/repos/${{ github.repository }}/issues/${{ github.event.issue.number }} \
               -d "{\"body\": \"${NEW_BODY}\"}"

      - name: Set start timestamp when issue is labeled
        if: github.event.action == 'labeled' && github.event.label.name == env.LABEL_NAME
        run: |
          TIMESTAMP=$(date -u +"%Y-%m-%dT%H:%M:%SZ")
          ISSUE_BODY="${{ github.event.issue.body }}"
          NEW_BODY="${ISSUE_BODY}\n\n**Start Timestamp:** $TIMESTAMP"
          curl -X PATCH -H "Authorization: token ${{ secrets.GITHUB_TOKEN }}" \
               -H "Accept: application/vnd.github.v3+json" \
               https://api.github.com/repos/${{ github.repository }}/issues/${{ github.event.issue.number }} \
               -d "{\"body\": \"${NEW_BODY}\"}"
